.action-button {
	background-color: #73B1B7;
	min-width: 70px;
	padding: 8px 20px;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	margin: 10px;
	text-transform: uppercase;
}

.action-button:hover {
	background-color: #4A777A;
}